body{
    font-family: 'Alegreya', serif;
    background: black;
    color: white;
}

.main-card{
    margin-top: 50px;
    color: #999999;
}

.card-box{
    width: 50%;
    display: inline-block;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 5%;
}

.thumb-container {
    display: inline-block;
}

.thumb-container img{
    border-radius: 50%;
    max-height: 200px;
}

.name-container{
}

.social-container span{
    margin-right: 15px;
    font-size: 20px;
}

.social-container span i{
    color: #999999;
}

.view-blog{
    padding-top: 20px;
    font-size: 18px;
}

.view-blog a{
    color: #DC3A00;
}

.coming-soon{
    padding-top: 20px;
    font-size: 20px;
    color: #999999;
    color: #337AB7;
}
